.social__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

.social__media {
  width: 100%;
  max-width: 118.75rem;


  .cc {}

  .cc p {}

  .icon__media {}
}
}
