/* Set height of body and the document to 100% to enable "full page tabs" */
.tab__container {
  width: 100%;
  min-height: 100vh;


  .tab__inner {
    width: 100%;
    max-width: 118.75rem;
    padding-top: 3.655rem;

    .tab__text {
      //height: 16rem;
      padding-inline: 36rem;
      margin: 0 auto;

      .tab__hdl h2 {
        font-size: 2.25rem;
        font-weight: 500;
        text-align: center;
      }

      .tab__ornament {
        margin-top: 1.625rem;
        margin-bottom: 1.625rem;
        line-height: 2;
        background: url('../img/Decoration.png') no-repeat center;
      }

      .tab__ornament p {
        text-align: center;
      }

    }

    .tab__buttons {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;


      /* Style tab links */
      .tablink {
        background-color: transparent;
        color: black;
        float: left;
        border: 1px solid transparent;
        outline: none;
        cursor: pointer;
        padding: .750rem 2rem;
        margin-inline: 2rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1;
        height: 5rem;
        width: 12%;
      }

      .tablink--active {
        border: 1px solid black;

      }

      .tablink:hover {
        border: 1px solid #FAD648;
      }
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
      width: 84rem;
      max-width: 118.75rem;

      color: black;
      //display: none;

      padding-inline: 0 2rem;
      margin: 4rem auto;
      height: 100%;

      .tab__title {

        margin :1.625rem 19rem;
      }

      .tab__title p {
        text-align: center;
        font-size: 1.5rem;
      }

      .tab__box {
        border-bottom: 1px solid black;
        padding-top: 2rem;
        padding-bottom: 2rem;

      }
    }

  }


}