@import "../settings/_fonts";

::-webkit-input-placeholder {
  color: #3C3C3C26;
  font-size: rem(12px);
}


.contact__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 95vh;

  .contact__inner {
    width: 100%;
    max-width:  rem(1900px);
    position: relative;
    margin-top:  rem(120px);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding-right:  rem(142px);

    .contact__content {
      width: rem(528px); /*33rem*/
      margin-top:  rem(72px);

      .contact__hdl h2 {
        font-size:  rem(36px);
        font-weight: 500;
        text-align: center;
      }

      .contact__ornament {
        margin-top:  rem(26px);
        margin-bottom:  rem(26px);
        line-height: 2;
        background: url('../img/Decoration.png') no-repeat center;
      }

      .contact__ornament p {
        text-align: center;
      }

      .contact__form {
        //height: 327px;
        padding-top:  rem(26px);
        text-align: left;

        .line {
          display: flex;
          flex-direction: row;

          .input__box {
            margin-bottom: rem(8px);

            .input__row {
              height: rem(62px);
              text-align: left;

              .control-error {
                color: red;
                font-size: rem(12px);
                padding: rem(4px) 0 0 0;
              }

              .control-error p {
                margin: 0;
              }
            }

            .brake {
              margin-right: rem(16px);
            }

            .input__row input {
              width: rem(256px);
              margin-top: rem(4px);
              outline-style: none;
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom: 1px solid black;
              background-color: rgba(0, 0, 0, .0);
              display: block;
            }

            .input__row label {
              font-size: rem(12px);
              font-weight: 900;

            }

          }

          .textarea__box {
            margin-top: rem(4px);
          }

          .textarea__box textarea {
            background-color: rgba(0, 0, 0, .0);

          }
        }

        .button-sub {
          margin-top: rem(24px);
          border: 1px solid #3C3C3C;
          cursor: pointer;
          padding: rem(13px) rem(50px);
          font-size: rem(16px);
          font-weight: 300;
          color: #737373;
          line-height: 1;
          background-color: transparent;
        }

        .button-sub:hover {
          margin-top: rem(24px);
          border: 1px solid #FAD648;
          cursor: pointer;
          padding: rem(13px) rem(50px);
          font-size: rem(16px);
          font-weight: 300;
          color: black;
          line-height: 1;
          background-color: transparent;
        }
      }

      .footer {
        width: 100%;
      }
    }

    .contact__img {
      width: 100%;
      height: 109vh;
      //overflow: hidden;
      position: absolute;
      top: rem(-100px);
      left: rem(-80px);
      z-index: -2;
      background: url('../img/Background_Image.png') no-repeat left;
      opacity: 0.2;
      transform: scale(0.9);

    }


  }
}