@import "../settings/_fonts";

.foursteps__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .foursteps__inner {
    width: 100%;
    max-width: rem(1900px);


    .foursteps__head h2 {
      font-size: rem(36px);
      font-weight: 500;
      margin: rem(58px) 0 rem(16px) 0;

    }

    .foursteps__head p {
      margin-top: rem(26px);
      margin-bottom: rem(26px);
      background: url('../img/Decoration.png') no-repeat center;
      line-height: 2;
    }

    .foursteps__iconsrow {
      background-color: #F0F1F1;
      padding-inline: rem(352px);

      display: flex;
      justify-content: space-around;
      gap: rem(64px);
      align-items: center;

      .foursteps__icons {
        display: flex;
        flex-direction: column;
        margin-top: rem(73px);
        margin-bottom: rem(80px);
        width: rem(164px);

        .foursteps__icon{ margin-bottom: rem(8px); font-size: rem(18px); }
        .foursteps__text{  font-size: rem(16px); }
        .foursteps__line {border-bottom: 1px solid black; width: rem(70px); text-align: center; margin-inline: auto; padding-inline: 0; margin-bottom: rem(8px);}

        .icon_img1 {
          background: url('../img/tshert.png') no-repeat center;
          height:  rem(83px);
        }
        .icon_img2 {
          background: url('../img/bag.png') no-repeat center;
          height:  rem(83px);
        }
        .icon_img3 {
          background: url('../img/loop.png') no-repeat center;
          height:  rem(83px);
        }
        .icon_img4 {
          background: url('../img/refresh.png') no-repeat center;
          height:  rem(83px);
        }

      }
    }

    .foursteps__buttons {
      background-color: white;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top:  rem(42px);
      margin-bottom:  rem(58px);


      .foursteps__button {
        width:  rem(310px);
        border: 1px solid #3C3C3C;
        cursor: pointer;
        padding: rem(13px) rem(51px);
        background-color: rgba(0, 0, 0, .0);
        font-size: rem(36px);
        font-weight: 300;
        color: #737373;
        line-height: 1;
      }

      .foursteps__button:hover {
        width:  rem(310px);
        border: 1px solid var(--yellow);
        cursor: pointer;
        padding: rem(13px) rem(51px);
        background-color: rgba(0, 0, 0, .0);
        font-size: rem(36px);
        font-weight: 300;
        color: #737373;
        line-height: 1;
      }
    }

  }
}

