@import "../settings/_fonts";

.header {
  width: 100%;
  max-width: rem(1900px);
  display: flex;
  justify-content: flex-end;
  margin-top: rem(37px);
  margin-right: rem(142px);
  background-color: rgba(0,0,0, .0);

  &__inner {
    height: rem(95px);
    margin-right: rem(142px);
  }
}

.menu {

  .buttons-box {
    display: flex;
    justify-content: flex-end;
    color: var(--notblack);

    .login,
    .register  {
      border: 1px solid white;
      border-radius: rem(4px);
      cursor: pointer;
      padding: rem(10px) rem(18px);
      background-color: rgba(0,0,0, .0);
      color: #737373;
      font-size: rem(14px);
      text-decoration: none;
    }

    .login:hover,
    .register:hover  {
      border: 1px solid var(--yellow);
      border-radius: rem(4px);
      cursor: pointer;
      padding: rem(10px) rem(18px);
      background-color: rgba(0,0,0, .0);
      color: var(--gray2);
      font-size: rem(14px);

    }

  }

&__row {
  margin-top: rem(16px);
  margin-left: rem(16px);
  display: flex;
  justify-content: space-between;
  width: rem(683px);

}
  &__item {
    border: 1px solid white;
    cursor: pointer;
    padding: rem(8px) rem(16px);
    background-color: rgba(0,0,0, .0);
    text-decoration: none;
    font-size:rem(18px);
  }

  &__item:hover {
    border: 1px solid black;
    cursor: pointer;
    padding: rem(8px) rem(16px);
    background-color: rgba(0,0,0, .0);
    text-decoration: none;
    font-size:rem(18px);
  }

  &__item--active {
    border: 1px solid black;
    cursor: pointer;
    padding: rem(8px) rem(16px);
    background-color: rgba(0,0,0, .0);
    text-decoration: none;
    font-size:rem(18px);
  }
}


