@import "../settings/_fonts";

.hero {width: 100%; }

.hero .hero__inner {
  position: relative;
}

.hero .hero__inner .hero__bg {
  width: rem(885px);
  height: rem(963px);
  overflow: hidden;
  position: absolute;
  top: rem(-122px);
  left: 0;
  z-index: -10;
  background: url('../img/Hero_Image.png') no-repeat right;
}

.hero .hero__inner .hero__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: rem(672px);
  padding: rem(216px) rem(128px);

  text-align: center;
}

.hero .hero__inner .hero__row .wrapper__row {
  display: inline-block;
  flex-direction: row;
}

.hero .hero__inner .hero__row .lead {}

.hero .hero__inner .hero__row h3 {
  color: var(--notblack);
  font-weight: 400;
  font-size: rem(36px);
  text-align: center;
  line-height: 1.5;
}

.hero .hero__inner .hero__row .ornament {}

.hero .hero__inner .hero__row p {
  margin-top: rem(26px);
  background: url('../img/Decoration.png') no-repeat center;
  line-height: 2;
}

.hero .hero__inner .hero__row .gift {
  margin-right: rem(24px);
}
.hero .hero__inner .hero__row .organize {
  margin-left: rem(24px);
}

.hero .hero__inner .hero__row button {
  width: rem(300px);
  height: rem(120px);
  margin-top: rem(64px);
  border: 1px solid #3C3C3C;
  cursor: pointer;
  padding:rem(13px) rem(51px);
  background-color: rgba(0,0,0, .0);
  font-size: rem(36px);
  font-weight: 300;
  color: #737373;
  line-height: 1;
}

.hero .hero__inner .hero__row button:hover {
  width: rem(300px);
  height: rem(120px);
  margin-top: rem(64px);
  border: 1px solid var(--yellow);
  cursor: pointer;
  padding:rem(13px) rem(51px);
  background-color: rgba(0,0,0, .0);
  font-size: rem(36px);
  font-weight: 300;
  color: #737373;
  line-height: 1;
}



