@import "../settings/_fonts";

.social__container {
  width: 100%;

  .social__media {
    width: 100%;
    max-width: rem(1900px);
    padding-top: rem(16px);

    .cc {
      height: rem(32px);
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .cc p {
    }

    .icons__social {
      float: right;
      display: inline-flex;
      width: rem(86px);
      margin-right: rem(142px);
      position: relative;
      top: rem(-32px);

      .icon__fb p {
        background: url('../img/Facebook.png') no-repeat center;
        height: rem(32px);
        width: rem(30px);
        line-height: 2;
      }

      .icon__ins p {
        background: url('../img/Instagram.png') no-repeat center;
        height: rem(32px);
        width: rem(30px);
        margin-left: rem(16px);
        line-height: 2;
      }
    }

  }
}