@import "../settings/_fonts";

.tabtwo__container {
  width: 100%;
  min-height: 100vh;

  .tab__inner {
    width: 100%;
    max-width: rem(1900px);
    padding-top: rem(58px);

    .tab__text {
      //height: 16rem;
      //padding-inline: 36rem;
      margin: 0 auto;

      .tab__hdl h2 {
        font-size: rem(36px);
        font-weight: 500;
        text-align: center;
      }

      .tab__ornament {
        margin-top: rem(26px);
        margin-bottom: rem(26px);
        line-height: 2;
        background: url('../img/Decoration.png') no-repeat center;
      }

      .tab__ornament p {
        text-align: center;
      }

    }

    .tab {
      overflow: hidden;
      margin-top: rem(54px);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
      background-color: transparent;
      color: black;
      float: left;
      border: 1px solid transparent;
      //outline: none;
      cursor: pointer;
      padding: rem(12px) rem(16px);
      margin-inline: rem(32px);
      font-size: rem(24px);
      font-weight: 500;
      line-height: 1;
      height: rem(80px);
      width: 12%;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      border: 1px solid black;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      border: 1px solid black;
    }


    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
      width: rem(1344px);
      max-width: rem(1900px);
      display: none;
      padding: rem(6px) rem(12px);
      color: black;

      padding-inline: 0 rem(32px);
      margin: rem(32px) auto;
      height: 100%;

      .tab__title {

        margin: rem(26px) 0;
      }

      .tab__title p {
        text-align: center;
        font-size: rem(24px);
      }

      .tab__box {
        border-bottom: 1px solid black;
        padding-top: rem(32px);
        padding-bottom: rem(32px);

      }
    }

    .tab__row {
      width: 100%;
      padding-top: rem(36px);
      padding-bottom: rem(64px);
      display: flex;
      justify-content: center;
      align-items: center;

      .tab__btn button {
        display: inline-block;
        background-color: transparent;
        color: black;
        float: left;
        border: 1px solid black;
        cursor: pointer;
        padding: rem(12px) rem(12px);
        margin-inline: rem(12px);
        font-size: rem(16px);
        font-weight: 400;
      }

      .tab__btn button:hover {
        border: 1px solid #FAD648;
        color: black;
      }
    }
  }
}