@import "../settings/_fonts";

.yellow__main {
  width: 100%;
  background-color: #FAD648; /* var(--yellow);*/
  max-width:rem(1900px);
  padding-inline: rem(163px);
  margin: rem(56px) auto 0 auto;
  padding-top: rem(48px);
  padding-bottom: rem(80px);
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 1.5;

  .col__1 {
    width: rem(400px);

      &--hdl h2{
        font-size: rem(88px);
        font-weight: 300;}
      &--title p {
        margin-top: rem(8px);
        text-transform: uppercase;
        font-weight: bold;}
      &--pargraf p{
        margin-top: rem(16px);
        font-family: 'Merriweather', 'Open Sans';
        font-weight: 500;}
    }

    .col__2{
      &--hdl{}
      &--title{}
      &--pargraf{}
    }

    .col__3{
      &--hdl{}
      &--title{}
      &--pargraf{}
    }
}