@import "../settings/_fonts";


.step__one__main {
  width: 100%;
  height: rem(883px);


  .step__one__inner {
    width: 100%;
    height: 100%;
    max-width: rem(1900px);
    padding-inline: rem(163px);
    padding-top: rem(48px);
    padding-bottom: rem(64px);

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    position: relative;

    .step__one__left {
      .step__one__number {
        .step__one__number p {}
      }

      .step__six__headline {
        width: rem(658px);
        margin-top: rem(220px);
        text-align: center;
        font-size: rem(40px);
        font-weight: 300;

        .step__six__headline p {}

        .ornament {
          margin-top: rem(26px);
          background: url('../img/Decoration.png') no-repeat center;
          line-height: 2;
        }
      }


    }



    .step__one__img {
      width: rem(1900px);
      height: rem(882px);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -20;
      background: url('../img/Background-Form.png') no-repeat right;

    }

  }
}

