@import "./variables";
@import "settings/_fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: $base-font-size;  //$base-font-size; /16px
  font-family: 'Open Sans', 'sans-serif';
}